<mat-card>
	<mat-card-actions>
		<button mat-raised-button (click)="onEditMonthClick()" [disabled]="disableEditButton">{{editButtonLabel}}</button>
		<button mat-raised-button (click)="onExportClick()" [hidden]="hideExportButton">Exporter</button>
	</mat-card-actions>
</mat-card>
<div [hidden]="hideTaceLoadingProgressBar">
		<mat-progress-bar mode="indeterminate" style="margin-top: 50px;"></mat-progress-bar>
	</div>
<table mat-table [dataSource]="taceDataSource" matSort class="mat-elevation-z8">

	<!-- Checkbox Column -->
	<ng-container matColumnDef="select">
		<th mat-header-cell *matHeaderCellDef>
		</th>
		<td mat-cell *matCellDef="let row">
			<mat-checkbox (click)="$event.stopPropagation()"
			              (change)="$event ? taceSelection.toggle(row) || onCheckBoxChange() : null"
			              [checked]="taceSelection.isSelected(row)">
			</mat-checkbox>
		</td>
	</ng-container>
	
	<!-- Name Column -->
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Mois </th>
		<td mat-cell *matCellDef="let element"> {{displayMonths[element.id].name}} {{element.year}}</td>
	</ng-container>
	
	<!-- id Column -->
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef> id </th>
		<td mat-cell *matCellDef="let element"> {{element.id}} </td>
	</ng-container>

	<!-- Year Column -->
	<ng-container matColumnDef="year">
		<th mat-header-cell *matHeaderCellDef> year </th>
		<td mat-cell *matCellDef="let element"> {{element.year}} </td>
	</ng-container>
	
	<!-- TACE Column -->
	<ng-container matColumnDef="tace">
		<th mat-header-cell *matHeaderCellDef> TACE </th>
		<td mat-cell *matCellDef="let element"> {{element.tace | number:"2.0-2"}} % </td>
	</ng-container>
	
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"
	    (click)="selection.toggle(row)">
	</tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
