<mat-tab-group (selectedTabChange)="onSelectedTabChange($event,b,c,d,e,f)">
	<mat-tab label="En poste">
		<mat-card>
			<mat-card-actions>
				<button mat-raised-button (click)="onAddTeamMemberClick()" [disabled]="disableAddTeamMemberButton">Ajouter un membre &agrave; l'&eacute;quipe</button>
			</mat-card-actions>
		</mat-card>
		<app-team-member-form [hidden]="hideTeamMemberForm" [teamMember]="editedTeamMember" (saveClickEvent)="onSaveTeamMember($event)"></app-team-member-form>
		<div [hidden]="hideTeamLoadingProgressBar">
			<mat-progress-bar mode="indeterminate" style="margin-top: 50px;"></mat-progress-bar>
		</div>
		<app-team-member-card [teamMember]="teammember" *ngFor="let teammember of team" (editClickEvent)="onEditTeamMemberClick($event)"
			(deleteClickEvent)="onDeleteTeamMember($event)"></app-team-member-card>
	</mat-tab>
	<mat-tab label="Anciens">
		<div [hidden]="hidePastTeamLoadingProgressBar">
			<mat-progress-bar mode="indeterminate" style="margin-top: 50px;"></mat-progress-bar>
		</div>
		<app-team-member-card [teamMember]="pastteammember" *ngFor="let pastteammember of pastteam"
			(deleteClickEvent)="onDeleteTeamMember($event)"></app-team-member-card>
	</mat-tab>
</mat-tab-group>
