<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Accueil</a>
      <a mat-list-item routerLink="/tace">Consultation/calcul de TACE</a>
      <a mat-list-item routerLink="/team">G&eacute;rer son &eacute;quipe</a>
      <a mat-list-item routerLink="/holidays">G&eacute;rer les jours f&eacute;ri&eacute;s</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>TACE-APP</span>
    </mat-toolbar>
    <div  style="padding: 15px;">
    	<router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
