<mat-card>
	<mat-card-actions>
		<button mat-raised-button (click)="onAddHolidayClick()" [disabled]="disableAddHolidayButton">Ajouter un jour férié</button>
	</mat-card-actions>
</mat-card>
<app-holiday-form [hidden]="hideHolidayForm" [holiday]="editedHoliday" [disableValidateHolidayFormBtn]="disableValidateHolidayFormButton" (saveEvent)="onSaveHoliday($event)"></app-holiday-form>
<div [hidden]="hideHolidaysLoadingProgressBar">
	<mat-progress-bar mode="indeterminate" style="margin-top: 50px;"></mat-progress-bar>
</div>
<table mat-table [dataSource]="holidaysDataSource" matSort>
	
	<!-- Name Column -->
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Nom </th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>
	
	<!-- Date Column -->
	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
		<td mat-cell *matCellDef="let element"> {{element.date | date:"dd/MM/yyyy"}} </td>
	</ng-container>
	
	<!-- Actions Column -->
	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef> Actions </th>
		<td mat-cell *matCellDef="let element">
			<span>
				<button mat-icon-button (click)="onEditHolidayClick(element)">
					<mat-icon aria-label="Editer">edite</mat-icon>
				</button>
				<button mat-icon-button (click)="onDeleteHolidayClick(element)" color="warn">
					<mat-icon aria-label="Supprimer">delete</mat-icon>
				</button>
			</span>
		</td>
	</ng-container>
	
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>