<mat-card>
	<h5 class="card-title">{{teamMember.fullname}}</h5>
	<mat-card-content>
		<p>Entr&eacute;e le {{teamMember.entryDate | date:"dd/MM/yyyy"}}</p>
		<p [hidden]="!teamMember.exitDate">Sortie le {{teamMember.exitDate | date:"dd/MM/yyyy"}}</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button [disabled]="teamMember.exitDate" (click)="onEditTeamMemberButtonClicked()">&Eacute;diter</button>
		<button mat-raised-button color="warn" (click)="onDeleteTeamMemberButtonClicked()">Supprimer</button>
	</mat-card-actions>
</mat-card>