<mat-card>
	<h5 class="card-title">Ajouter un membre &agrave; votre &eacute;quipe</h5>
	<form #form="ngForm">
		<mat-card-content>
			<mat-form-field>
				<input name="fullname" required [(ngModel)]="teamMember.fullname" matInput placeholder="Nom complet" type="text">
			</mat-form-field>
			<mat-form-field>
				<input name="entryDate" required matInput [(ngModel)]="teamMember.entryDate" [matDatepicker]="entryDatePicker" placeholder="Entr&eacute;e dans l'entreprise">
				<mat-datepicker-toggle matSuffix [for]="entryDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #entryDatePicker></mat-datepicker>
			</mat-form-field>
			<mat-form-field>
				<input name="exitDate" matInput [(ngModel)]="teamMember.exitDate" [matDatepicker]="exitDatePicker" placeholder="Sortie de l'entreprise">
				<mat-datepicker-toggle matSuffix [for]="exitDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #exitDatePicker></mat-datepicker>
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button type="submit" mat-raised-button (click)="onSaveTeamMemberClick(teamMember)"[disabled]="!form.form.valid">Valider</button>
		</mat-card-actions>
	</form>
</mat-card>