<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<mat-card>
				<mat-card-content>
					<mat-form-field>
						<mat-select placeholder="Année" [(ngModel)]="selectedYear" name="selectedYear">
							<mat-option *ngFor="let year of years" [value]="year">
								{{year}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<mat-select placeholder="Mois" [(ngModel)]="selectedMonth.id" name="selectedMonth">
							<mat-option *ngFor="let month of months" [value]="month.id">
								{{month.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</mat-card-content>
				<mat-card-actions>
					<button mat-raised-button color="warn" [disabled]="disableMonthChangerButton" (click)="onUnselectYearAndMonth(selectedYear, selectedMonth.id)">Changer de mois</button>
					<button mat-raised-button [disabled]="disableYearAndMonthSelectedButton" (click)="onYearAndMonthSelected(selectedYear, selectedMonth.id)">Valider</button>
				</mat-card-actions>
			</mat-card>
			<div [hidden]="hideMonthlyTeamLoadingProgressBar">
				<mat-progress-bar mode="indeterminate" style="margin-top: 50px;"></mat-progress-bar>
			</div>
			<app-monthly-team-member-form [monthlyTeamMember]="unprovidedMonthlyTeamMember" [month]="selectedMonth.id" [year]="selectedYear"
				*ngFor="let unprovidedMonthlyTeamMember of unprovidedMonthlyTeam" (validateClickEvent)="onValidateTeamMemberClick($event)"></app-monthly-team-member-form>
		</div>
		<div class="col-sm-12 col-md-5">
			<mat-card>
				<mat-card-content>
					<app-monthly-team-member-card [monthlyTeamMember]="providedMonthlyTeamMember" [month]="selectedMonth.id" [year]="selectedYear"
						*ngFor="let providedMonthlyTeamMember of providedMonthlyTeam" (editClickEvent)="onEditMonthlyTeamMemberClick($event)"></app-monthly-team-member-card>
						<mat-spinner [hidden]="hideLoadingSpinner"></mat-spinner>
				</mat-card-content>
				<mat-card-actions>
					<button mat-raised-button (click)="onTerminateMonthClick()" [disabled]="disableTerminateMonthButton">Terminer</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
