<mat-card>
	<h5 class="card-title">{{monthlyTeamMember.teamMember.fullname}}</h5>
	<mat-card-content>
		<p>
			<ngb-progressbar type="success" [value]="monthlyTeamMember.getTACEForTeamMember(businessDaysForTeamMember)" [striped]="true">{{monthlyTeamMember.getTACEForTeamMember(businessDaysForTeamMember) | number:"2.0-2"}}%</ngb-progressbar>
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button (click)="onEdit(monthlyTeamMember)">&Eacute;diter</button>
	</mat-card-actions>
</mat-card>