<mat-card>
	<h5 class="card-title">Ajouter/&eacute;diter un jour f&eacute;ri&eacute;</h5>
	<form #form="ngForm">
		<mat-card-content>
			<mat-form-field>
				<input name="name" required [(ngModel)]="holiday.name" matInput placeholder="Intitul&eacute;" type="text">
			</mat-form-field>
			<mat-form-field>
				<input name="date" required matInput [(ngModel)]="holiday.date" [matDatepicker]="holidayDatePicker" placeholder="Date">
				<mat-datepicker-toggle matSuffix [for]="holidayDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #holidayDatePicker></mat-datepicker>
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button type="submit" mat-raised-button [disabled]="disableValidateHolidayFormBtn || !form.form.valid" (click)="onSaveHolidayClick(holiday)">Valider</button>
		</mat-card-actions>
	</form>
</mat-card>