<mat-card>
	<h5 class="card-title">{{monthlyTeamMember.teamMember.fullname}}</h5>
	<form #form="ngForm"> 
		<mat-card-content>
			<mat-form-field>
				<input matInput name="producedDays" [(ngModel)]="monthlyTeamMember.producedDays" placeholder="Nombre de jours produits" type="number" min="0"
				 max="{{businessDaysForTeamMember}}" required>
			</mat-form-field>
			<mat-form-field>
				<input matInput name="vacations" [(ngModel)]="monthlyTeamMember.vacations" placeholder="Nombre de jours CP/RTT" type="number" min="0" max="{{businessDaysForTeamMember}}"
				 required>
			</mat-form-field>
			<mat-form-field>
				<input matInput name="unproducedDays" [(ngModel)]="monthlyTeamMember.unproducedDays" placeholder="Nombre de jours d'improd" type="number" min="0"
				 max="{{businessDaysForTeamMember}}" required>
			</mat-form-field>
			<mat-form-field>
				<input matInput value="{{businessDaysForTeamMember}}" placeholder="Nombre de jours à assigner" disabled type="number">
			</mat-form-field>
			<div class="alert alert-danger" role="alert" [hidden]="!invalidTace">
				La somme des trois champs doit être égale au nombre de jours à assigner
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button type="submit" (click)="onValidate(monthlyTeamMember)" [disabled]="!form.form.valid">Valider</button>
		</mat-card-actions>
	</form>
</mat-card>