<mat-card>
	<mat-card-title>Bienvenue</mat-card-title>
	<mat-card-content>
		TACEapp est une application Angular&copy; permettant d'effectuer des calculs de TACE.
	</mat-card-content>
	<a mat-raised-button color="primary" routerLink="/tace-computing">Lancer un calcul de TACE</a>
</mat-card>